body {
    background-color: #165bd3;
    margin: auto;
}

header {
    margin-bottom: 3px;
    padding: 10px;
    border: 5px solid #5575b1;
    background-color: #8ea8da;
    height: auto;
    color: #ffffff;
  }

nav ul {
    list-style: none;
    color: #3b64cc;
  }

ul a {
    color: #eb0606;  
}

section {
    margin: 25px 50px 0px 50px;
    border: 5px solid #5575b1;
    background-color: #8ea8da;

}

footer {
    border: 5px solid #5575b1;
    background-color: #8ea8da;
    margin: 50px 0px 0px 0px;
}

footer ul {
    list-style: decimal;

}
.main{
    background-color: aqua;
}
.main h1{
    background-color: red;
    color: green
}
